body {
    text-align: center;
}

p, h1, h2 {
    text-align: center;
}

body {
    background-color: #1B244A;
}

div {
    /* border-style: solid; */
    border-color: green;
    border-width: 5px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

#header {
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 5rem;

}

#homeScore, #guestScore {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
    background-color: #080001;
    font-size: 6rem;;
    padding-top: 2rem;
    padding-bottom: 1.2rem;
    border-radius: 5px;
                                                
}

#increments {
    color: white;
    display: flex;
    justify-content: space-evenly;


    span {
        color: #9AABD8;
        border-style: solid;
        border-radius: 6px;
        border-color: #9AABD8;
        padding: 1rem;
        font-size: 2rem;
    }

    span:hover{
        color: white;
        border-color: white;
    }

}

#resetButton {
    color: #9AABD8;
    border-style: solid;
    border-radius: 6px;
    border-color: #9AABD8;
    padding: 1rem;
    font-size: 2rem;
    display: inline-block;

}

#resetButton:hover {
    color:white;
    border-color: white;
}